{% extends "base_generic.html" %}
{% block title %}My amazing chats{% endblock %}

{% block content %}
  <h1>Chats</h1>
  <ul>
    {% for chat in chats %}
      <li><a href="{% url 'chat_detail' chat.pk %}">{{ chat.name }}</a></li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  {% endif %}

  {% if user.is_superuser %}
    <a href="{% url 'chat_create' %}">Create new chat</a>
  {% endif %}
{% endblock %}
