<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мій Чат{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Мій Чат</h1>
        <nav>
            <ul>
                <li><a href="{% url 'chat_list' %}">Чати</a></li>
                <!-- Додайте інші посилання на навігацію, якщо потрібно -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Мій Чат &copy; 2024</p>
    </footer>
</body>
</html>
