<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    {% load static %}
    <!-- Додавання інших стилів і метаданих -->
</head>
<body>
    <header>
        <h1>{{ page_title }}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'chat_list' %}">Chats</a></li>
                {% if user.is_authenticated %}
                    <li>Logged in as: {{ user.username }}</li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <li><button type="submit">Logout</button></li>
                    </form>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'registration' %}">Registration</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <a href="{% url 'chat:dialog' %}">Write to admin</a>

    <!-- Підключення JavaScript-файлу -->
    <script src="{% static 'js/your_script.js' %}" defer></script>
    <!-- Інші скрипти, якщо є -->

</body>
</html>
